
.dest-one {

  .dest-a {
    color: @text-color;
    display: block;
    padding-right: 1em;

    &:hover {
      color: @link-color-blue;
      text-decoration: none;
    }
    .dest-title {
      font-weight: 700;
    }
    .dest-desc {
      color: @text-color;
      line-height: 1.3em;
      &:hover {
        color: @link-color-blue;
        text-decoration: none;
      }
    }
    @media (max-width: @screen-sm) {
      //margin-top: 1em;
      margin-left: 0;
      padding-right: 0;
    }
  }
  @media (max-width: @screen-sm) {
    padding: 1em 1em 1em 1em;
    margin: 1em 0;
    border-radius: @border-radius-md;
    background: @white;
    .shadown-sm();
  }
}

.dest-image {
  background-color: #ccc;
  background-position: 50%;
  background-size: cover;
  border-radius: @border-radius-sm;
  height: auto;
  overflow: hidden;
  padding-top: 60%;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  @media (max-width: @screen-sm) {
    padding-top: 50%;
    margin-bottom: 1em;
  }
  .dest-pic-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .dest-img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.categoria-news {

  margin: 0 0 3em 0;

  .header-categoria {
    padding: 0 0 .25em 0;
    margin: 0 0 .5em 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;

  }

  &.categoria-blue {
    .header-categoria {
      color: @blue;
      border-bottom-color: 2px solid @blue;
      a {
        color: @blue;
      }
    }
    .separator {
      color: @blue;
    }
  }

  &.categoria-green {
    .header-categoria {
      color: @green;
      border-bottom: 2px solid @green;
      a {
        color: @green;
      }
    }
    .separator {
      color: @green;
    }
  }
  &.categoria-teal {
    .header-categoria {
      color: @teal;
      border-bottom: 2px solid @teal;
      a {
        color: @teal;
      }
    }
    .separator {
      color: @teal;
    }
  }
  &.categoria-orange {
    .header-categoria {
      color: @orange;
      border-bottom: 2px solid @orange;
      a {
        color: @orange;
      }
    }
    .separator {
      color: @orange;
    }
  }
  &.categoria-purple {
    .header-categoria {
      color: @purple;
      border-bottom: 2px solid @purple;
      a {
        color: @purple;
      }
    }
    .separator {
      color: @purple;
    }
  }
  &.categoria-red {
    .header-categoria {
      color: @red;
      border-bottom: 2px solid @red;
      a {
        color: @red;
      }
    }
    .separator {
      color: @red;
    }
  }

}

