.padding-bigcontent {
  padding-right: 2em;
  @media (max-width: @screen-sm) {
    padding-right: 0;
  }
}

.special-striper-back {
  .background-cover();
  padding: 3em 0;
  min-height: 6em;
}

.striper {
  padding: 3em 0;
  color: @white;
  &.verde {
    background-color: @green-one;
  }
}

.conteudo-global-internas {
  min-height: 100%;

}

.barra-apoio {
  @media (min-width: @screen-sm) {
    display: none;
  }
  @media (max-width: @screen-sm) {
    display: block;
    position: fixed;
    bottom: -1px;
    text-align: center;
    background-color: @white;
    box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.4);
    width: 100%;
    z-index: 99;
    .barra-content {
      .btn-barra {
        display: block;
        width: 100%;
        padding: 1em 0 1em 0;
        text-align: center;
        font-size: @fontsize-mdplus;
        font-family: @sec-fontfamily !important;
        color: @link-color-dark-blue;
        &:hover {
          color: @link-color-dark-blue;
          text-decoration: none;
        }
      }
    }
  }
}

.list-links {
  font-family: @sec-fontfamily;
  //margin: 2em 1em;
  li {
    margin-bottom: 0.5em;
  }
}

.img-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  .img-free {
    position: absolute;
  }
}

.header-macrotema {
  .bck-macrotema {
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 1em 0;
    .dropdown-menu {
      width: 600px;
      li {
        padding: 0.5em 0;
        white-space: nowrap;
      }
      @media (max-width: @screen-sm) {
        width: 200px;
        left: 0;
      }
    }
  }
}
