html,
body {
  height: 100%;
  min-height: 100%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "merriweather", "Times New Roman", Georgia, serif;
  font-size: 100%;
  line-height: 1.15;
  color: #333;
  font-weight: normal;
}
a {
  color: #1383C4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #80ccfa;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a.nounderline {
  text-decoration: none !important;
}
p {
  font-size: 1em;
  letter-spacing: -0.03rem;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 .h6 {
  font-family: "merriweather", "Times New Roman", Georgia, serif;
  letter-spacing: -0.03em;
  margin: 0.25em 0;
  line-height: 1.3em;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 4.02em;
  line-height: 1.2em;
}
h2,
.h2 {
  font-size: 2.84em;
  line-height: 1.1em;
}
h3,
.h3 {
  font-size: 2.06em;
  line-height: 1.2em;
}
h4,
.h4 {
  font-size: 1.44em;
  line-height: 1.3em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: 0.69em;
}
small,
.font_small {
  font-size: 0.63em;
}
@font-face {
  font-family: 'sourcesans';
  src: url('../../../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesans';
  src: url('../../../assets/fonts/sourcesanspro-it-webfont.woff2') format('woff2'), url('../../../assets/fonts/sourcesanspro-it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'sourcesans';
  src: url('../../../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'), url('../../../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesans';
  src: url('../../../assets/fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'), url('../../../assets/fonts/sourcesanspro-boldit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather-italic-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather_light-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather_light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather-bold-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather-boldit-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather-boldit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'merriweather';
  src: url('../../../assets/fonts/merriweather-lightit-webfont.woff2') format('woff2'), url('../../../assets/fonts/merriweather-lightit-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'themify';
  src: url('../../../assets/fonts/themify.eot?-fvbane');
  src: url('../../../assets/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'), url('../../../assets/fonts/themify.woff?-fvbane') format('woff'), url('../../../assets/fonts/themify.ttf?-fvbane') format('truetype'), url('../../../assets/fonts/themify.svg?-fvbane#themify') format('svg');
  font-weight: normal;
  font-style: normal;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.font-first {
  font-family: "merriweather", "Times New Roman", Georgia, serif;
}
.font-second {
  font-family: "sourcesans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.img-adaptative {
  max-width: 100%;
  height: auto;
}
.img-full {
  width: 100%;
  height: auto !important;
}
/* Tamanhos de Fontes */
.fontsize-xs {
  font-size: 0.63em;
}
.fontsize-sm {
  font-size: 0.69em;
}
.fontsize-md {
  font-size: 1em;
}
.fontsize-lg {
  font-size: 1.44em;
}
.fontsize-xl {
  font-size: 2.06em;
}
.fontsize-xxl {
  font-size: 4.02em;
}
/* Dividers */
.divider-top {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #c8c8c8;
}
.divider-right {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #c8c8c8;
}
.divider-bottom {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c8c8c8;
}
.divider-left {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #c8c8c8;
}
/* Cores genéricas, para div inteiras */
/* Cores genéricas, para textos */
.text-white {
  color: #fff;
}
.text-white.a {
  color: #fff;
}
.text-white a {
  color: #fff;
}
.text-red {
  color: #f56954 !important;
}
.text-red.a {
  color: #f56954;
}
.text-red a {
  color: #f56954;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-yellow.a {
  color: #f39c12;
}
.text-yellow a {
  color: #f39c12;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-aqua.a {
  color: #00c0ef;
}
.text-aqua a {
  color: #00c0ef;
}
.text-blue {
  color: #0073b7 !important;
}
.text-blue.a {
  color: #0073b7;
}
.text-blue a {
  color: #0073b7;
}
.text-dark-blue {
  color: #08456e !important;
}
.text-dark-blue.a {
  color: #08456e;
}
.text-dark-blue a {
  color: #08456e;
}
.text-black {
  color: #222 !important;
}
.text-black.a {
  color: #222;
}
.text-black a {
  color: #222;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-light-blue.a {
  color: #3c8dbc;
}
.text-light-blue a {
  color: #3c8dbc;
}
.text-light-blue-two {
  color: #3B5775 !important;
}
.text-light-blue-two.a {
  color: #3B5775;
}
.text-light-blue-two a {
  color: #3B5775;
}
.text-green {
  color: #00a65a !important;
}
.text-green.a {
  color: #00a65a;
}
.text-green a {
  color: #00a65a;
}
.text-navy {
  color: #001F3F !important;
}
.text-navy.a {
  color: #001F3F;
}
.text-navy a {
  color: #001F3F;
}
.text-teal {
  color: #39CCCC !important;
}
.text-teal.a {
  color: #39CCCC;
}
.text-teal a {
  color: #39CCCC;
}
.text-olive {
  color: #3D9970 !important;
}
.text-olive.a {
  color: #3D9970;
}
.text-olive a {
  color: #3D9970;
}
.text-lime {
  color: #01FF70 !important;
}
.text-lime.a {
  color: #01FF70;
}
.text-lime a {
  color: #01FF70;
}
.text-orange {
  color: #FF851B !important;
}
.text-orange.a {
  color: #FF851B;
}
.text-orange a {
  color: #FF851B;
}
.text-fuchsia {
  color: #F012BE !important;
}
.text-fuchsia.a {
  color: #F012BE;
}
.text-fuchsia a {
  color: #F012BE;
}
.text-purple {
  color: #932ab6 !important;
}
.text-purple.a {
  color: #932ab6;
}
.text-purple a {
  color: #932ab6;
}
.text-maroon {
  color: #85144B !important;
}
.text-maroon.a {
  color: #85144B;
}
.text-maroon a {
  color: #85144B;
}
/*
text-red
text-yellow
text-aqua
text-blue
text-black
text-light-blue
text-green
text-navy
text-teal
text-olive
text-lime
text-orange
text-fuchsia
text-purple
text-maroon
*/
/* Rolagens */
.rol-vert {
  display: block;
  overflow: auto;
  overflow-x: hidden;
}
.rol-hor {
  display: block;
  overflow: auto;
  overflow-y: hidden;
}
.rol-hor-vert {
  display: block;
  overflow: auto;
}
.overflow-hide {
  overflow: hidden;
}
.width-grid-auto {
  width: auto;
}
.width-grid-1 {
  width: 4em;
}
.width-grid-2 {
  width: 9em;
}
.width-grid-3 {
  width: 14em;
}
.width-grid-4 {
  width: 19em;
}
.width-grid-5 {
  width: 24em;
}
.width-grid-6 {
  width: 29em;
}
.width-grid-7 {
  width: 34em;
}
.width-grid-8 {
  width: 39em;
}
.width-grid-9 {
  width: 44em;
}
.width-grid-10 {
  width: 49em;
}
.width-grid-11 {
  width: 54em;
}
.width-grid-12 {
  width: 59em;
}
.height-grid-auto {
  height: auto;
}
.height-grid-1 {
  height: 4em;
}
.height-grid-2 {
  height: 9em;
}
.height-grid-3 {
  height: 14em;
}
.height-grid-4 {
  height: 19em;
}
.height-grid-5 {
  height: 24em;
}
.height-grid-6 {
  height: 29em;
}
.height-grid-7 {
  height: 34em;
}
.height-grid-8 {
  height: 39em;
}
.height-grid-9 {
  height: 44em;
}
.height-grid-10 {
  height: 49em;
}
.height-grid-11 {
  height: 54em;
}
.height-grid-12 {
  height: 59em;
}
.cursor-default:hover {
  cursor: default;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.cursor-help:hover {
  cursor: help;
}
.cursor-text:hover {
  cursor: text;
}
.cursor-move:hover {
  cursor: move;
}
.cursor-wait:hover {
  cursor: wait;
}
.cursor-progress:hover {
  cursor: progress;
}
.cursor-crosshair:hover {
  cursor: crosshair;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-fixed {
  position: fixed;
}
input[type=checkbox],
input[type=radio] {
  margin: 0.5em 0 0;
  line-height: normal;
}
.checkbox label,
.radio label {
  margin-bottom: 0;
  font-weight: 200;
}
.text-shadowned {
  text-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.86);
}
.full-sizes {
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100%;
}
.half-height {
  height: 50%;
}
.mt-0 {
  margin-top: 0;
}
.mt-xs {
  margin-top: 4px;
}
.mt-sm {
  margin-top: 8px;
}
.mt-md {
  margin-top: 16px;
}
.mt-lg {
  margin-top: 32px;
}
.mt-xl {
  margin-top: 64px;
}
.mr-0 {
  margin-right: 0;
}
.mr-xs {
  margin-right: 4px;
}
.mr-sm {
  margin-right: 8px;
}
.mr-md {
  margin-right: 16px;
}
.mr-lg {
  margin-right: 32px;
}
.mr-xl {
  margin-right: 64px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 4px;
}
.mb-sm {
  margin-bottom: 8px;
}
.mb-md {
  margin-bottom: 16px;
}
.mb-lg {
  margin-bottom: 32px;
}
.mb-xl {
  margin-bottom: 64px;
}
.ml-0 {
  margin-left: 0;
}
.ml-xs {
  margin-left: 4px;
}
.ml-sm {
  margin-left: 8px;
}
.ml-md {
  margin-left: 16px;
}
.ml-lg {
  margin-left: 32px;
}
.ml-xl {
  margin-left: 64px;
}
.pt-0 {
  padding-top: 0;
}
.pt-xs {
  padding-top: 4px;
}
.pt-sm {
  padding-top: 8px;
}
.pt-md {
  padding-top: 16px;
}
.pt-lg {
  padding-top: 32px;
}
.pt-xl {
  padding-top: 64px;
}
.pr-0 {
  padding-right: 0;
}
.pr-xs {
  padding-right: 4px;
}
.pr-sm {
  padding-right: 8px;
}
.pr-md {
  padding-right: 16px;
}
.pr-lg {
  padding-right: 32px;
}
.pr-xl {
  padding-right: 64px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-xs {
  padding-bottom: 4px;
}
.pb-sm {
  padding-bottom: 8px;
}
.pb-md {
  padding-bottom: 16px;
}
.pb-lg {
  padding-bottom: 32px;
}
.pb-xl {
  padding-bottom: 64px;
}
.pl-0 {
  padding-left: 0;
}
.pl-xs {
  padding-left: 4px;
}
.pl-sm {
  padding-left: 8px;
}
.pl-md {
  padding-left: 16px;
}
.pl-lg {
  padding-left: 32px;
}
.pl-xl {
  padding-left: 64px;
}
@media (max-width: 767px) {
  .mt-0-sm {
    margin-top: 0;
  }
  .mt-xs-sm {
    margin-top: 4px;
  }
  .mt-sm-sm {
    margin-top: 8px;
  }
  .mt-md-sm {
    margin-top: 16px;
  }
  .mt-lg-sm {
    margin-top: 32px;
  }
  .mt-xl-sm {
    margin-top: 64px;
  }
  .mr-0-sm {
    margin-right: 0;
  }
  .mr-xs-sm {
    margin-right: 4px;
  }
  .mr-sm-sm {
    margin-right: 8px;
  }
  .mr-md-sm {
    margin-right: 16px;
  }
  .mr-lg-sm {
    margin-right: 32px;
  }
  .mr-xl-sm {
    margin-right: 64px;
  }
  .mb-0-sm {
    margin-bottom: 0;
  }
  .mb-xs-sm {
    margin-bottom: 4px;
  }
  .mb-sm-sm {
    margin-bottom: 8px;
  }
  .mb-md-sm {
    margin-bottom: 16px;
  }
  .mb-lg-sm {
    margin-bottom: 32px;
  }
  .mb-xl-sm {
    margin-bottom: 64px;
  }
  .ml-0-sm {
    margin-left: 0;
  }
  .ml-xs-sm {
    margin-left: 4px;
  }
  .ml-sm-sm {
    margin-left: 8px;
  }
  .ml-md-sm {
    margin-left: 16px;
  }
  .ml-lg-sm {
    margin-left: 32px;
  }
  .ml-xl-sm {
    margin-left: 64px;
  }
  .pt-0-sm {
    padding-top: 0;
  }
  .pt-xs-sm {
    padding-top: 4px;
  }
  .pt-sm-sm {
    padding-top: 8px;
  }
  .pt-md-sm {
    padding-top: 16px;
  }
  .pt-lg-sm {
    padding-top: 32px;
  }
  .pt-xl-sm {
    padding-top: 64px;
  }
  .pr-0-sm {
    padding-right: 0;
  }
  .pr-xs-sm {
    padding-right: 4px;
  }
  .pr-sm-sm {
    padding-right: 8px;
  }
  .pr-md-sm {
    padding-right: 16px;
  }
  .pr-lg-sm {
    padding-right: 32px;
  }
  .pr-xl-sm {
    padding-right: 64px;
  }
  .pb-0-sm {
    padding-bottom: 0;
  }
  .pb-xs-sm {
    padding-bottom: 4px;
  }
  .pb-sm-sm {
    padding-bottom: 8px;
  }
  .pb-md-sm {
    padding-bottom: 16px;
  }
  .pb-lg-sm {
    padding-bottom: 32px;
  }
  .pb-xl-sm {
    padding-bottom: 64px;
  }
  .pl-0-sm {
    padding-left: 0;
  }
  .pl-xs-sm {
    padding-left: 4px;
  }
  .pl-sm-sm {
    padding-left: 8px;
  }
  .pl-md-sm {
    padding-left: 16px;
  }
  .pl-lg-sm {
    padding-left: 32px;
  }
  .pl-xl-sm {
    padding-left: 64px;
  }
}
@media (max-width: 991px) {
  .mt-0-md {
    margin-top: 0;
  }
  .mt-xs-md {
    margin-top: 4px;
  }
  .mt-sm-md {
    margin-top: 8px;
  }
  .mt-md-md {
    margin-top: 16px;
  }
  .mt-lg-md {
    margin-top: 32px;
  }
  .mt-xl-md {
    margin-top: 64px;
  }
  .mr-0-md {
    margin-right: 0;
  }
  .mr-xs-md {
    margin-right: 4px;
  }
  .mr-sm-md {
    margin-right: 8px;
  }
  .mr-md-md {
    margin-right: 16px;
  }
  .mr-lg-md {
    margin-right: 32px;
  }
  .mr-xl-md {
    margin-right: 64px;
  }
  .mb-0-md {
    margin-bottom: 0;
  }
  .mb-xs-md {
    margin-bottom: 4px;
  }
  .mb-sm-md {
    margin-bottom: 8px;
  }
  .mb-md-md {
    margin-bottom: 16px;
  }
  .mb-lg-md {
    margin-bottom: 32px;
  }
  .mb-xl-md {
    margin-bottom: 64px;
  }
  .ml-0-md {
    margin-left: 0;
  }
  .ml-xs-md {
    margin-left: 4px;
  }
  .ml-sm-md {
    margin-left: 8px;
  }
  .ml-md-md {
    margin-left: 16px;
  }
  .ml-lg-md {
    margin-left: 32px;
  }
  .ml-xl-md {
    margin-left: 64px;
  }
  .pt-0-md {
    padding-top: 0;
  }
  .pt-xs-md {
    padding-top: 4px;
  }
  .pt-sm-md {
    padding-top: 8px;
  }
  .pt-md-md {
    padding-top: 16px;
  }
  .pt-lg-md {
    padding-top: 32px;
  }
  .pt-xl-md {
    padding-top: 64px;
  }
  .pr-0-md {
    padding-right: 0;
  }
  .pr-xs-md {
    padding-right: 4px;
  }
  .pr-sm-md {
    padding-right: 8px;
  }
  .pr-md-md {
    padding-right: 16px;
  }
  .pr-lg-md {
    padding-right: 32px;
  }
  .pr-xl-md {
    padding-right: 64px;
  }
  .pb-0-md {
    padding-bottom: 0;
  }
  .pb-xs-md {
    padding-bottom: 4px;
  }
  .pb-sm-md {
    padding-bottom: 8px;
  }
  .pb-md-md {
    padding-bottom: 16px;
  }
  .pb-lg-md {
    padding-bottom: 32px;
  }
  .pb-xl-md {
    padding-bottom: 64px;
  }
  .pl-0-md {
    padding-left: 0;
  }
  .pl-xs-md {
    padding-left: 4px;
  }
  .pl-sm-md {
    padding-left: 8px;
  }
  .pl-md-md {
    padding-left: 16px;
  }
  .pl-lg-md {
    padding-left: 32px;
  }
  .pl-xl-md {
    padding-left: 64px;
  }
}
@media (max-width: 1199px) {
  .mt-0-lg {
    margin-top: 0;
  }
  .mt-xs-lg {
    margin-top: 4px;
  }
  .mt-sm-lg {
    margin-top: 8px;
  }
  .mt-md-lg {
    margin-top: 16px;
  }
  .mt-lg-lg {
    margin-top: 32px;
  }
  .mt-xl-lg {
    margin-top: 64px;
  }
  .mr-0-lg {
    margin-right: 0;
  }
  .mr-xs-lg {
    margin-right: 4px;
  }
  .mr-sm-lg {
    margin-right: 8px;
  }
  .mr-md-lg {
    margin-right: 16px;
  }
  .mr-lg-lg {
    margin-right: 32px;
  }
  .mr-xl-lg {
    margin-right: 64px;
  }
  .mb-0-lg {
    margin-bottom: 0;
  }
  .mb-xs-lg {
    margin-bottom: 4px;
  }
  .mb-sm-lg {
    margin-bottom: 8px;
  }
  .mb-md-lg {
    margin-bottom: 16px;
  }
  .mb-lg-lg {
    margin-bottom: 32px;
  }
  .mb-xl-lg {
    margin-bottom: 64px;
  }
  .ml-0-lg {
    margin-left: 0;
  }
  .ml-xs-lg {
    margin-left: 4px;
  }
  .ml-sm-lg {
    margin-left: 8px;
  }
  .ml-md-lg {
    margin-left: 16px;
  }
  .ml-lg-lg {
    margin-left: 32px;
  }
  .ml-xl-lg {
    margin-left: 64px;
  }
  .pt-0-lg {
    padding-top: 0;
  }
  .pt-xs-lg {
    padding-top: 4px;
  }
  .pt-sm-lg {
    padding-top: 8px;
  }
  .pt-md-lg {
    padding-top: 16px;
  }
  .pt-lg-lg {
    padding-top: 32px;
  }
  .pt-xl-lg {
    padding-top: 64px;
  }
  .pr-0-lg {
    padding-right: 0;
  }
  .pr-xs-lg {
    padding-right: 4px;
  }
  .pr-sm-lg {
    padding-right: 8px;
  }
  .pr-md-lg {
    padding-right: 16px;
  }
  .pr-lg-lg {
    padding-right: 32px;
  }
  .pr-xl-lg {
    padding-right: 64px;
  }
  .pb-0-lg {
    padding-bottom: 0;
  }
  .pb-xs-lg {
    padding-bottom: 4px;
  }
  .pb-sm-lg {
    padding-bottom: 8px;
  }
  .pb-md-lg {
    padding-bottom: 16px;
  }
  .pb-lg-lg {
    padding-bottom: 32px;
  }
  .pb-xl-lg {
    padding-bottom: 64px;
  }
  .pl-0-lg {
    padding-left: 0;
  }
  .pl-xs-lg {
    padding-left: 4px;
  }
  .pl-sm-lg {
    padding-left: 8px;
  }
  .pl-md-lg {
    padding-left: 16px;
  }
  .pl-lg-lg {
    padding-left: 32px;
  }
  .pl-xl-lg {
    padding-left: 64px;
  }
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.m-all {
  margin: 1em;
}
.p-all {
  padding: 1em;
}
.ml-neg-md {
  margin-left: -1em;
}
.pd-0 {
  padding: 0;
}
.mg-0 {
  margin: 0;
}
.ui-mobile,
.ui-page,
.ui-page-theme-a,
.ui-page-active,
.ui-mobile-viewport,
.ui-overlay-a {
  min-height: 100% !important;
  height: 100% !important;
}
#destaques {
  height: 70%;
  background-color: #000;
}
#destaques .carousel {
  height: 100%;
}
#destaques .carousel-inner {
  height: 100%;
}
#destaques .carousel-control {
  width: 5%;
}
#destaques .item {
  position: relative;
  height: 100%;
  transition-property: opacity;
}
#destaques .item.item-full .img-destaque {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}
#destaques .item.item-full .carousel-content {
  height: 100%;
  position: relative;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
#destaques .item.item-grid .carousel-content {
  height: 100%;
  position: relative;
}
#destaques .item.item-grid .grid-destaque {
  height: 100%;
}
#destaques .item.item-grid .grid-destaque .grid-destaque-item {
  position: relative;
  width: 100%;
  height: 100%;
}
#destaques .item.item-grid .grid-destaque .grid-destaque-item .grid-destaque-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}
#destaques .item.item-grid .grid-destaque .grid-destaque-item .carousel-content {
  height: 100%;
  position: relative;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
#destaques .carousel-control .glyphicon-chevron-right,
#destaques .carousel-control .icon-next,
#destaques .carousel-control .glyphicon-chevron-left,
#destaques .carousel-control .icon-prev {
  margin: 0;
}
.carousel-fade .carousel-inner {
  background: #000;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active {
  opacity: 1;
}
.carousel-fade .active.left,
.carousel-fade .active.right,
.carousel-fade .item {
  left: 0;
  opacity: 0;
  z-index: 1;
}
/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.modal-open #wrapper {
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
  height: 100%;
}
.boxed-green-opaque {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.69em;
  font-weight: 700;
  font-family: "sourcesans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em;
  background: rgba(80, 183, 72, 0.22);
  width: auto;
  display: initial;
}
.separator-blue {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.69em;
  font-weight: 700;
  font-family: "sourcesans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em;
  width: auto;
  display: initial;
}
.navbar-theme {
  font-family: "sourcesans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  position: relative;
  border: 0;
  margin-bottom: 1em;
  padding-top: 0.5em;
}
.navbar-theme a {
  color: #333;
  text-decoration: none;
}
.navbar-theme a:hover {
  color: #1383C4;
}
.navbar-theme .menu-item {
  font-weight: 700;
  width: 14.285%;
  text-align: center;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .navbar-theme .menu-item {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e7e7e7 !important;
    width: 100%;
  }
}
.navbar-theme .menu-item:last-child {
  border: 0;
}
.navbar-theme .navbar-header {
  float: none;
}
.navbar-theme .logo-camara {
  margin: 1em 0 0 1em;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar-theme .logo-camara {
    text-align: left;
  }
}
.navbar-theme .logo-camara .logo,
.navbar-theme .logo-camara .img-logo {
  margin: 0 auto 0 auto;
  width: 20em;
}
@media (max-width: 360px) {
  .navbar-theme .logo-camara .logo,
  .navbar-theme .logo-camara .img-logo {
    width: 18em;
  }
}
@media (max-width: 330px) {
  .navbar-theme .logo-camara .logo,
  .navbar-theme .logo-camara .img-logo {
    width: 16em;
  }
}
@media (max-width: 315px) {
  .navbar-theme .logo-camara .logo,
  .navbar-theme .logo-camara .img-logo {
    width: 12em;
    margin-top: 0.25em;
  }
}
@media (max-width: 250px) {
  .navbar-theme .logo-camara .logo,
  .navbar-theme .logo-camara .img-logo {
    width: 8em;
    margin-top: 0.25em;
  }
}
.navbar-theme .nav-top {
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}
.navbar-theme .nav-top:before,
.navbar-theme .nav-top:after {
  content: " ";
  display: table;
}
.navbar-theme .nav-top:after {
  clear: both;
}
.navbar-theme .nav-top .links-externos {
  float: left;
}
.navbar-theme .nav-top .links-externos .links-items {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  list-style: none;
  display: inline-table;
}
.navbar-theme .nav-top .links-externos .links-items > li {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
@media (max-width: 768px) {
  .navbar-theme .nav-top .links-externos {
    float: none;
    text-align: left;
  }
}
.navbar-theme .nav-top .links-ferramentas {
  float: right;
}
.navbar-theme .nav-top .links-ferramentas .links-items {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  list-style: none;
  display: inline-table;
}
.navbar-theme .nav-top .links-ferramentas .links-items > li {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.5em;
}
@media (max-width: 768px) {
  .navbar-theme .nav-top .links-ferramentas .links-items > li {
    display: block;
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-bottom: 1px solid #e7e7e7;
  }
}
@media (max-width: 768px) {
  .navbar-theme .nav-top .links-ferramentas .links-items {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar-theme .nav-top .links-ferramentas {
    float: none;
    text-align: left;
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar-theme .nav-top {
    position: relative;
  }
}
.navbar-theme .nav,
.navbar-theme .collapse,
.navbar-theme .dropup,
.navbar-theme .dropdown {
  position: static;
}
.navbar-theme .container {
  position: relative;
}
.navbar-theme .dropdown-menu {
  left: auto;
  font-size: 1em;
}
.navbar-theme .navbar-theme-content {
  padding: 1em 2em;
}
.navbar-theme .navbar-theme-content .list-unstyled,
.navbar-theme .navbar-theme-content .list-unstyled ul {
  min-width: 7.5em;
}
.navbar-theme .dropdown.navbar-theme-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.navbar-theme.white-theme {
  background-image: linear-gradient(-180deg, #DFE1E2 0%, #FFFFFF 100%);
}
.navbar-theme.white-theme .link-congresso svg path {
  fill: #000 !important;
}
.navbar-theme.black-theme .link-congresso svg path {
  fill: #000 !important;
}
.navbar-theme .navbar-toggle {
  margin-top: 1em;
  border: 0;
}
.navbar-theme .navigation-theme {
  margin-top: 1em;
  width: 100%;
}
.navbar-theme .navigation-theme > li > a {
  padding: 0.5em;
  white-space: nowrap;
}
@media (max-width: 880px) {
  .navbar-theme .navigation-theme > li > a {
    padding: 0;
  }
}
.navbar-theme .navigation-theme > li > a:focus,
.navbar-theme .navigation-theme > li > a:hover {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.navbar-theme .navigation-theme > .open > a,
.navbar-theme .navigation-theme > .open > a:focus,
.navbar-theme .navigation-theme > .open > a:hover {
  color: #1383C4;
  background-color: transparent;
}
.navbar-theme .navigation-theme .theme-submenu {
  color: #818181;
  list-style-type: none;
  min-width: 11.5em;
  border-right: 1px solid #f2f2f2;
  padding: 0.5em 1em;
}
.navbar-theme .navigation-theme .theme-submenu > li {
  padding: 0.5em 0;
  border-bottom: 1px solid #f2f2f2;
}
.navbar-theme .navigation-theme .theme-submenu > li:last-child {
  border: 0;
}
.navbar-theme .navigation-theme .theme-submenu a {
  font-weight: normal;
  color: #1383C4;
  margin: 0.3em 0;
}
.navbar-theme .navigation-theme .theme-submenu a:hover {
  text-decoration: underline;
  color: #4fb4ee;
}
.navbar-theme .navigation-theme .theme-submenu:last-child {
  border: 0;
}
@media (max-width: 768px) {
  .navbar-theme .navigation-theme .theme-submenu {
    border: 0;
    margin-bottom: 1em;
  }
}
.navbar-theme .navigation-theme .open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  margin-top: 0.5em;
}
@media (max-width: 768px) {
  .navbar-theme .navigation-theme .open > .dropdown-menu {
    margin-top: 0;
  }
}
.navbar-theme .navigation-theme .dropdown-menu {
  opacity: .3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.05s linear;
  -webkit-transition: all 0.05s linear;
  -webkit-filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.2));
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.2));
  border-radius: 0.5em;
  border: 0;
}
.navbar-theme .navigation-theme .dropdown-menu:after,
.navbar-theme .navigation-theme .dropdown-menu:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.navbar-theme .navigation-theme .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 65px;
  margin-left: 0;
}
@media (max-width: 768px) {
  .navbar-theme .navigation-theme .dropdown-menu:after {
    display: none;
  }
}
.navbar-theme .navigation-theme .dropdown-menu:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: transparent;
  border-width: 20px;
  left: 50px;
  margin-left: -20px;
}
@media (max-width: 768px) {
  .navbar-theme .navigation-theme .dropdown-menu:before {
    display: none;
  }
}
.navbar-theme .title-link {
  font-weight: 700;
  color: #005689;
}
.navbar-theme .title-nolink {
  font-weight: 700;
  color: #777;
}
.navbar-theme .nav-bar-custom .dropdown-menu {
  left: auto !important;
  right: auto !important;
  height: 12.5em;
  margin-top: 1.2em;
}
@media (max-width: 768px) {
  .navbar-theme .nav-bar-custom .dropdown-menu {
    height: auto;
  }
}
.navbar-theme .nav-bar-custom .dropdown-menu > li > a {
  width: 10.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
@media (max-width: 768px) {
  .navbar-theme .nav-bar-custom .dropdown-menu > li > a {
    width: auto;
  }
}
.navbar-theme .nav-bar-custom .dropdown-submenu {
  position: relative;
  width: 25em;
}
@media (max-width: 768px) {
  .navbar-theme .nav-bar-custom .dropdown-submenu {
    width: 100%;
  }
}
.navbar-theme .nav-bar-custom .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  width: 400px;
  position: fixed;
  margin-top: 0;
  margin-left: 10.88em;
  border: 0;
  box-shadow: none;
}
@media (max-width: 768px) {
  .navbar-theme .nav-bar-custom .dropdown-submenu > .dropdown-menu {
    margin-left: 0px;
    position: relative;
  }
}
.navbar-theme .nav-bar-custom .dropdown-submenu .dropdown-menu {
  display: none;
  background-color: transparent;
}
.navbar-theme .nav-bar-custom .dropdown-submenu .dropdown-menu:after {
  display: none;
}
.navbar-theme .nav-bar-custom .dropdown-submenu.open .dropdown-menu {
  display: block;
}
.navbar-theme .nav-bar-custom .dropdown-submenu.open .submenu-item {
  background-color: #f5f5f5;
}
.navbar-theme .nav-bar-custom .dropdown-submenu > a:after {
  border-color: transparent transparent transparent #eee;
  border-style: solid;
  border-width: 0.5em 0 0.5em 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
.navbar-theme .nav-bar-custom .dropdown-menu > li > a {
  color: #1383C4;
}
.navbar-theme .nav-bar-custom .dropdown-menu > .active > a:hover {
  box-shadow: none;
}
.navbar-theme .nav-bar-custom .dropdown-menu > li > a:hover,
.navbar-theme .nav-bar-custom .dropdown-menu > .active > a:active,
.navbar-theme .nav-bar-custom .dropdown-menu > .active > a:focus {
  text-decoration: underline;
  background-color: transparent;
  color: #80ccfa;
  box-shadow: none;
}
.navbar-theme .nav-bar-custom .dropdown-menu a:hover,
.navbar-theme .nav-bar-custom dropdown-menu a:focus,
.navbar-theme .nav-bar-custom .dropdown-menu a:active,
.navbar-theme .nav-bar-custom .dropdown-menu a:focus {
  text-decoration: underline;
  background-color: transparent;
  color: #80ccfa;
  box-shadow: none;
}
@media (max-width: 767px) {
  .navbar-theme .nav-bar-custom .navbar-nav {
    display: inline;
  }
  .navbar-theme .nav-bar-custom .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-theme .nav-bar-custom .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-theme .nav-bar-custom .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;
  }
  .navbar-theme .nav-bar-custom .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }
  .navbar-theme .nav-bar-custom .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-theme .nav-bar-custom .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ccc;
  }
  .navbar-theme .nav-bar-custom .navbar-nav .open .dropdown-menu {
    border-bottom: 1px solid white;
    border-radius: 0;
  }
  .navbar-theme .nav-bar-custom .dropdown-menu {
    padding-left: 10px;
  }
  .navbar-theme .nav-bar-custom .dropdown-menu .dropdown-menu {
    padding-left: 20px;
  }
  .navbar-theme .nav-bar-custom .dropdown-menu .dropdown-menu .dropdown-menu {
    padding-left: 30px;
  }
  .navbar-theme .nav-bar-custom li.dropdown.open {
    border: 0px solid red;
  }
}
@media (min-width: 768px) {
  .navbar-theme .nav-bar-custom ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  .navbar-theme .nav-bar-custom #navbar {
    text-align: center;
  }
}
.navbar-theme .search-form {
  width: 100%;
  float: right;
  margin: 4px 0 0 0;
  padding: 0;
}
.navbar-theme .search-form .input-group {
  display: block;
  width: 30px;
  overflow: hidden;
  border-left: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-theme .search-form.open .input-group {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  border-radius: 100px;
}
.navbar-theme .search-form .form-control,
.navbar-theme .search-form .form-control:focus {
  font-weight: normal;
  height: 30px;
  padding: 0 32px 0 12px;
  border-radius: 50px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
}
.navbar-theme .search-form .input-group-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.navbar-theme .search-form .input-group-btn .icon {
  position: relative;
  bottom: -3px;
  left: -1px;
  font-size: 16px;
}
.navbar-theme .search-form .btn,
.navbar-theme .search-form .btn:hover {
  padding: 5px 16px 5px 3px;
  font-size: 17px;
  border-radius: 0;
  /*color:#fff;*/
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-theme .search-form .btn:active,
.navbar-theme .search-form .btn:focus,
.navbar-theme .search-form.open .btn {
  color: #777;
  background-color: #fff;
  border: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0;
}
.navbar-theme .search-form.open .input-group {
  width: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.navbar-theme :-ms-input-placeholder {
  color: #555 !important;
}
.navbar-theme ::-moz-placeholder {
  color: #555 !important;
}
.navbar-theme :-moz-placeholder {
  color: #555 !important;
}
.navbar-theme ::-webkit-input-placeholder {
  color: #555 !important;
}
@media (max-width: 767px) {
  .navbar-theme .search-form {
    float: none;
    margin-top: 0px;
    padding: 14px 0;
  }
  .navbar-theme .search-form .input-group,
  .navbar-theme .search-form.open .input-group {
    width: auto;
    -webkit-transition: none;
    transition: none;
    border-left: 2px solid #5F5F5F;
  }
  .navbar-theme .search-form .btn {
    background-color: #5F5F5F;
    border: 1px solid #5F5F5F;
    -webkit-transition: none;
    transition: none;
  }
  .navbar-theme :-ms-input-placeholder {
    color: #555 !important;
    text-transform: uppercase;
  }
  .navbar-theme ::-moz-placeholder {
    color: #555 !important;
    text-transform: uppercase;
  }
  .navbar-theme :-moz-placeholder {
    color: #555 !important;
    text-transform: uppercase;
  }
  .navbar-theme ::-webkit-input-placeholder {
    color: #555 !important;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) and (max-width: 780px) {
  .navbar-theme .navbar .search-form.open .input-group {
    width: 135px;
  }
}
@media (min-width: 980px) {
  .navbar-theme .navbar .search-form.open .input-group {
    width: 230px;
  }
}
@media (min-width: 1300px) {
  .navbar-theme .navbar .search-form .input-group-btn {
    width: 32px;
    height: 32px;
  }
  .navbar-theme .navbar .search-form .input-group-btn .icon {
    font-size: 18px;
  }
  .navbar-theme .navbar .search-form .form-control,
  .navbar-theme .navbar .search-form .form-control:focus {
    height: 32px;
  }
  .navbar-theme .navbar .search-form .input-group {
    padding-right: 32px;
    width: 32px;
  }
}

/*# sourceMappingURL=theme.css.map */